.c-section{
    padding: 20px;
    padding-top: 100px;
    position: relative;
    &__bg-img{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -2;
        object-fit: cover;
    }
    &--above-banner{
        position: relative;
        margin-top: 100px - $bannerHeight;
        @media (min-width: 768px){
            margin-top: 100px - $bannerHeightMd;
        }
        @media (min-width: 1600px){
            margin-top: 100px - $bannerHeightLg;
        }
    }
    &--container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 768px){
            width: 600px;
        }
        @media (min-width: 992px){
            width: 768px;
        }
        @media (min-width: 1024px){
            width: 992px;
        }
        @media (min-width: 1200px){
            width: 1100px;
        }
        @media (min-width: 1600px){
            width: 1400px;
        }
    }
    &--bg-bule-alpha{
        &::before{
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;
            background-color: rgba($main-color-1, 0.9);
        }
    }
    &--bg-black-alpha{
        &::before{
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;
            background-color: rgba(#000, 0.57);
        }
    }
    &--shadow{
        box-shadow: 0px 5px 30px rgba(#000, .2);
    }
}