.doctor-logo-home {
    width: 120px!important;
    height: 31px!important;
    /* background: rgba(0, 0, 0, 0.65)!important; */
    margin: 5px 24px 16px 0!important;
    float: left!important;
    padding-bottom: 5px;
  }
  .ant-dropdown-link-home {
      color: rgba(0, 0, 0, 0.65);
  }