@import url('https://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Source+Code+Pro:300,400,600');

.payment-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-bottom: 50px;
    @media(min-width: 1024px){
        &:before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 50%;
            background-color: rgb(245, 245, 245);
        }
    }
    .payment-title {
        width: 100%;
        text-align: center;
    }
    .form-container-payment .field-container:first-of-type {
        grid-area: name;
    }

    .form-container-payment .field-container:nth-of-type(2) {
        grid-area: number;
    }

    .form-container-payment .field-container:nth-of-type(3) {
        grid-area: expiration;
    }

    .form-container-payment .field-container:nth-of-type(4) {
        grid-area: security;
    }
    .form-container-payment .field-container:nth-of-type(5) {
        grid-area: btn;
    }

    .field-container input {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .field-container {
        position: relative;
        display: block;
        padding-bottom: 10px;
    }

    .form-container-payment {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: auto auto;
        // grid-template-rows: 80px 90px 90px;
        grid-template-areas: "name name""number number""expiration security""btn btn";
        // max-width: 400px;
        width: 50%;
        padding: 20px;
        color: #707070;
        @media(min-width: 1024px){
            order: 0;
            padding-bottom: 0;
        }
    }

    label {
        padding-bottom: 5px;
        font-size: 13px;
    }

    input {
        margin-top: 3px;
        padding: 9px;
        font-size: 16px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #dcdcdc;
    }

    .ccicon {
        height: 38px;
        position: absolute;
        right: 6px;
        top: calc(50% - 17px);
        width: 60px;
    }

    /* CREDIT CARD IMAGE STYLING */


    .container {
        width: 100%;
        max-width: 400px;
        max-height: 251px;
        height: 0;
        padding-top: 64%;
    }
    .creditcard{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #ccsingle {
        position: absolute;
        right: 15px;
        top: 20px;
    }

    #ccsingle svg {
        width: 100px;
        max-height: 60px;
    }

    .creditcard svg#cardfront,
    .creditcard svg#cardback {
        width: 100%;
        -webkit-box-shadow: 1px 5px 6px 0px black;
        box-shadow: 1px 5px 6px 0px black;
        border-radius: 22px;
    }

    #generatecard{
        cursor: pointer;
        float: right;
        font-size: 12px;
        color: #fff;
        padding: 2px 4px;
        background-color: #909090;
        border-radius: 4px;
        cursor: pointer;
        float:right;
    }

    /* CHANGEABLE CARD ELEMENTS */
    .creditcard .lightcolor,
    .creditcard .darkcolor {
        -webkit-transition: fill .5s;
        transition: fill .5s;
    }

    .creditcard .lightblue {
        fill: #03A9F4;
    }

    .creditcard .lightbluedark {
        fill: #0288D1;
    }

    .creditcard .red {
        fill: #ef5350;
    }

    .creditcard .reddark {
        fill: #d32f2f;
    }

    .creditcard .purple {
        fill: #ab47bc;
    }

    .creditcard .purpledark {
        fill: #7b1fa2;
    }

    .creditcard .cyan {
        fill: #26c6da;
    }

    .creditcard .cyandark {
        fill: #0097a7;
    }

    .creditcard .green {
        fill: #66bb6a;
    }

    .creditcard .greendark {
        fill: #388e3c;
    }

    .creditcard .lime {
        fill: #d4e157;
    }

    .creditcard .limedark {
        fill: #afb42b;
    }

    .creditcard .yellow {
        fill: #ffeb3b;
    }

    .creditcard .yellowdark {
        fill: #f9a825;
    }

    .creditcard .orange {
        fill: #ff9800;
    }

    .creditcard .orangedark {
        fill: #ef6c00;
    }

    .creditcard .grey {
        fill: #bdbdbd;
    }

    .creditcard .greydark {
        fill: #616161;
    }

    /* FRONT OF CARD */
    #svgname {
        text-transform: uppercase;
    }

    #cardfront .st2 {
        fill: #FFFFFF;
    }

    #cardfront .st3 {
        font-family: 'Source Code Pro', monospace;
        font-weight: 600;
    }

    #cardfront .st4 {
        font-size: 54.7817px;
    }

    #cardfront .st5 {
        font-family: 'Source Code Pro', monospace;
        font-weight: 400;
    }

    #cardfront .st6 {
        font-size: 33.1112px;
    }

    #cardfront .st7 {
        opacity: 0.6;
        fill: #FFFFFF;
    }

    #cardfront .st8 {
        font-size: 24px;
    }

    #cardfront .st9 {
        font-size: 36.5498px;
    }

    #cardfront .st10 {
        font-family: 'Source Code Pro', monospace;
        font-weight: 300;
    }

    #cardfront .st11 {
        font-size: 16.1716px;
    }

    #cardfront .st12 {
        fill: #4C4C4C;
    }

    /* BACK OF CARD */
    #cardback .st0 {
        fill: none;
        stroke: #0F0F0F;
        stroke-miterlimit: 10;
    }

    #cardback .st2 {
        fill: #111111;
    }

    #cardback .st3 {
        fill: #F2F2F2;
    }

    #cardback .st4 {
        fill: #D8D2DB;
    }

    #cardback .st5 {
        fill: #C4C4C4;
    }

    #cardback .st6 {
        font-family: 'Source Code Pro', monospace;
        font-weight: 400;
    }

    #cardback .st7 {
        font-size: 27px;
    }

    #cardback .st8 {
        opacity: 0.6;
    }

    #cardback .st9 {
        fill: #FFFFFF;
    }

    #cardback .st10 {
        font-size: 24px;
    }

    #cardback .st11 {
        fill: #EAEAEA;
    }

    #cardback .st12 {
        font-family: 'Rock Salt', cursive;
    }

    #cardback .st13 {
        font-size: 37.769px;
    }

    /* FLIP ANIMATION */
    .container {
        perspective: 1000px;
    }



    .creditcard .front,
    .creditcard .back {
        position: absolute;
        color: #47525d;
    }
    &__card{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 305px;
        max-width: 100%;
    }
    &__card-wrapper-inner{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;   
        @media(min-width: 1024px){
            order: 1;
            min-height: 80vh;
        }
    }
    button{
        width: 120px;
        padding: 10px;
        background: #47525d;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    .submit-btn{
        background: #47525d;
        color: #fff;
        position: relative;
        &:after{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 100%;
            background-color: transparent;
            border: 20px solid transparent;
            border-left-color: #47525d;
        }
    }
    .back-btn{
        background: #5f6870;
        color: #fff;
    }
    .btn-container{
        text-align: center;
        @media(min-width: 1024px){
            order: 1;
            padding-bottom: 0;
            padding-top: 20px;
            margin-left: -20px;
            text-align: left;
            width: calc(50% + 20px);
            position: absolute;
            left: 0;
            bottom: 0;
            button{
                width: 50%;
            }
        }
    }
    &__title{
        width: 100%;
        
        @media(min-width: 1024px){
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            // background-color: #5f6870;
            padding-left: 20px;
            padding-top: 20px;
            font-size: 24px;
            // height: 40px;
            // display: flex;
            // align-items: center;
            // color: #fff;
            // &:after{
            //     content: "";
            //     display: block;
            //     position: absolute;
            //     top: 0;
            //     bottom: 0;
            //     right: 0;
            //     left: 100%;
            //     background-color: transparent;
            //     border: 20px solid transparent;
            //     border-left-color: #5f6870;
            // }
        }
    }
}