li.ant-menu-item.ant-menu-item-selected {
    background: none !important;
}
.timeline-toggle{
    margin-right: -16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dashboard-heading{
    padding-left: 10px;
    font-size: 14px;
}