/* .accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
    background: #fff!important;
    position: relative!important; */
    /* top: -25px; */
    /* bottom: 25px!important; */
    /* width: 96%;
    margin-left: 20px */
/* } */
/* .accordion__heading {
    cursor: pointer;
} */
/* .accordion__button {
    display: none!important;
} */
/* .accordion {
    border: none!important;
    border-radius: 0px;
}
.accordian:hover{ 
    transform: translateY(-10px);
}
.accordion__button {
    background: transparent!important;
    padding: 0!important;
}
.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
    position: relative;
    top: 46px;
    z-index: 1;
    left: 10px;
}
.accordion__button[aria-expanded='true']::before, .accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}
.accordion__item + .accordion__item {
    border-top: none!important;
} */
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  
    z-index: 1;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    /* padding: 12px 16px; */
    padding: 0;
    padding-left: 0!important;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.ant-collapse > .ant-collapse-item {
    border-bottom: none!important;
}
.ant-collapse {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    /* background-color: #fafafa; */
    background : transparent!important;
    border: none!important;
    border-bottom: 0;
    border-radius: 4px;
}
.c-info-card {
    border-radius: 5px;
    padding: 3px 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px!important;
}
.ant-collapse-content {
    overflow: hidden;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-top: none!important;
    position: relative;
    /* bottom: 22px; */
    /* width: 98%; */
}
/* .ant-collapse > .ant-collapse-item > .ant-collapse-header:hover .ant-collapse-arrow {
    transform: translateY(-15px);
} */
.ant-collapse-arrow {
    transition: all 0.3s;
}
/* .c-info-card__ap_approved_custom {
    color : #874285;
} */
.c-info-card__status {
    color: #874285!important;
    font-weight: 500;
    font-size: 13px;
}
.c-info-card__status-notapproved {
    font-size: 12px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 13px;
}
.c-info-card__status-notapproved:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: red;
}
.c-info-card__more_ap_custom .anticon{
    font-size : 25px;
    position: relative;
    top : -15px;
    left: 15px;
}