.card-border{
    &__left{
       border-left: 5px solid #1890ff; 
    }
    &__right{
       border-right: 5px solid #1890ff; 
    }
}
.c-info-card{
    // @include box-shadow;
    border-radius: 5px;
    padding: 3px 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    &:hover{
        // transform: translateY(-10px);
    }
    // &:before{
    //     content: "";
    //     display: block;
    //     width: 5px;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     background-color: $main-color-1;
    // }
    .ant-col{
        padding-right: 20px;
        padding-left: 20px;
    }
    &__border-col{
        border-right: 1px solid rgba(black, .12);
        &:after{
            content: "";
            display: block;
            position: absolute;
            right: 15px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &__user-info{
        display: flex;
    }
    &__user-name, 
    &__calander-date{
        margin-bottom: 3px;
        color: $text-color-1;
        font-size: 14px;
    }
    &__calander-time{
        padding-top: 2px;
        display: flex;
        align-items: center;
    }
    &__user-number, 
    &__calander-time{
        margin-bottom: 0;
        font-size: 14px;
        color: $text-color-4;
    }
    &__calander-col{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &__calander-inner{
        display: inline-block;
    }
    &__avatar{
        margin-right: 20px;
    }
    &__icon{
        margin-right: 10px;
        color: $main-color-1;
        font-size: 15px;
        &--more{
            cursor: pointer;
        }
    }
    &__status-col{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__status{
        font-size: 12px;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 5px;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: currentColor;
        }
        &--active{
            color: $main-color-1;
        }
        &--inactive{
            color: $text-color-4;
        }
    }
    &__more{
        text-align: right;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.c-bar-card{
    padding-top: 20px;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    &__icon-wrap{
        padding: 10px;
    }
    &:before{
        content: "";
        width: 100%;
        height: 3px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        background-color: $main-color-1;
    }
    &:after{
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
    &--top{
        &:before, &:after{
            display: block;
            top: 0;
        }
        &:after{
            background-image: linear-gradient(rgba($main-color-1, .2), rgba($main-color-1, .1), rgba($main-color-1, 0), rgba($main-color-1, 0))
        }
    }
    &--bottom{
        &:before, &:after{
            display: block;
            bottom: 0;
        }
        &:after{
            background-image: linear-gradient(rgba($main-color-1, 0), rgba($main-color-1, 0),rgba($main-color-1, .1), rgba($main-color-1, .2))
        }
    }
}
.c-history-card{
    padding: 10px;
    @include box-shadow;
    border-radius: 5px;
    // margin-bottom: 30px;
    &__footer{
        // padding-top: 30px;
    }
}
.ant-card-body {
    padding: 8px;
    text-align: left;
}
.fr {
    float: right;

}

.info-style-collapse{
    .ant-collapse-item{
        margin-bottom: 20px;
        transition: all .3s;
        &-active{
            .c-info-card{
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }
        &:hover{
            transform: translateY(-10px);
        }
    }
    &.ant-collapse > .ant-collapse-item > .ant-collapse-header{
        padding: 0;
    }
    .ant-collapse-content{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}