@import '~antd/dist/antd.css';
@import './styles/variables';
@import './styles/mixins';
@import './dr/components/dr-component';
@import './components/components';
@import './styles/pages/all';

// @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

.logo {
  height: 61px;
  background: #fff;
  font-size: 25px;
  padding-top: 10px;
}
.ant-layout-sider {
  background: #fff; 
}
.d-block{
  display: block;
}